.Pokecard {
  border: black;
  background-color: rgb(182, 182, 182);
  width: 20%;
  border-radius: 1em;
  padding: 1em 0.2em;
  margin: 1em;
}

.Pokecard-name {
  color: blue;
}

.Pokecard-img {
  width: 8em;
}

.Pokecard-meta {
  margin: 5px;
}
